


/*LOGO*/
.logo1 .imglogo1resp {
  max-height:350pt;
}

/*Do Not Completley grock!*/
.logo1 .imglogo1resp:hover {
  cursor: crosshair;
  -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.socialiconsH{
display: inline-block;


.sizE img{
  width: 22pt;
  height: 22pt;
}

.si1 li {
float: left;
list-style: none;
// padding: 1em 1em 1em 1em;
}


.si1 a{
  border-top: 2pt solid #1761AE;
  // padding-top: 1em;
}
.si1 a:hover{
  border-top: none;
  cursor: pointer;
}

}

.name{
  color:white;
  font-size: 70pt;
}

/*CSS BELOW IS PART PLACEHOLDER*/
/*review below code for spacing!*/
.bio {
  background-color: #464648;

}
.scrollup {
  position: fixed;
  text-decoration: none;
  text-align: center;
  color: #cacaca;
  margin-top: 5em;
  margin-left: 15em;
  border: 1px solid #cacaca;
  border-radius: 50%;
  width: .87em;
  height: .87em;
  z-index: 10000;
}

.scrollup:hover {
  font-weight: bolder;
  border: 2px solid red;
  color: red;
}
