<footer class="site-footer">
<section class="social-icons">
  <ul class="list-icons">
    <li class="icons"><a href="https://www.linkedin.com/in/pope410211"><img src="/assets/images/icons/linkin.png"/></a></li>
    <li class="icons"><a href="https://www.github.com/pope410211"><img src="/assets/images/icons/Icon-03.png"/></a></li>
    <li class="icons"><a href="https://twitter.com/pope410211"><img src="/assets/images/icons/Icon-02.png"/></a></li>
    <li class="icons"><a href="mailto:pope410211@gmail.com?subject=Hey, There!"><img src="/assets/images/icons/mail.png"/></a></li>
  </ul>
</section>
<div class="copy">
<p>&copy;2015 Nicholas Pope. All Rights Reserved</p>

</div>

</footer>
