<header class="site-header">
    <div class="logo">
      <ul>
        <li><a href="/"><img src="/assets/images/nick-logo.png"/></a></li>
      <li id="name"><p><big>nicholas pope</big></p></li>
    </ul>
    </div>
    <div id="tagline"><p><small><i>the most hospitable developer</i></small></p></div>

    <ul class="nav">

        <li><a class="btn">&#9776;</a>
            <ul id="hamburger-menu" class="menu">
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/">contact</a></li>
                <li><a href="/portfolio">portfolio</a></li>
                <li><a href="/contact">resume</a></li>
            </ul>
        </li>
    </ul>


</header>
