<header class="site-header">
    <div class="logo">
      <ul>
        <li><a href="/"><img src="assets/images/nick-logo.png"/></a></li>
      <li id="name"><p> <big> Nicholas Pope </big></p></li>
    </ul>
    </div>
    <div id="tagline"><p> <small><i>The Most Hospitable Developer</i></small></p></div>

    <ul class="nav">

        <li><a class="btn">&#9776;</a>
            <ul id="hamburger-menu" class="menu">
                <li><a href="/">About</a></li>
                <li><a href="/">Contact</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Resume</a></li>
            </ul>
        </li>
    </ul>


</header>
