body {
background-color: black;
color: white;
font-family: "Source Sans Pro";

#splash {
  content: url("http://lorempixel.com/output/nightlife-q-g-1200-300-1.jpg");
  margin: 2em 5em;
}

}//end body
